<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Debug</key>
			<false/>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>Change GFX0 To IGPU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R0ZYMA==
					</data>
					<key>Replace</key>
					<data>
					SUdQVQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change HECI To IMEI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SEVDSQ==
					</data>
					<key>Replace</key>
					<data>
					SU1FSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change HDAS To HDEF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SERBUw==
					</data>
					<key>Replace</key>
					<data>
					SERFRg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EC0 to EC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUMwXw==
					</data>
					<key>Replace</key>
					<data>
					RUNfXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change B0D3 To HDAU</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					QjBEMw==
					</data>
					<key>Replace</key>
					<data>
					SERBVQ==
					</data>
				</dict>
			</array>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
				<key>PluginType</key>
				<true/>
			</dict>
			<key>PLimitDict</key>
			<string>0</string>
			<key>PluginType</key>
			<string>0</string>
			<key>UnderVoltStep</key>
			<string>0</string>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>dart=0 darkwake=0 npci=0x3000</string>
		<key>Debug</key>
		<false/>
		<key>DefaultVolume</key>
		<string>OS</string>
		<key>Legacy</key>
		<string>PBR</string>
		<key>Timeout</key>
		<integer>0</integer>
		<key>XMPDetection</key>
		<string>Yes</string>
	</dict>
	<key>CPU</key>
	<dict>
		<key>QPI</key>
		<integer>100</integer>
	</dict>
	<key>Devices</key>
	<dict>
		<key>AddProperties</key>
		<array>
			<dict>
				<key>Device</key>
				<string>IntelGFX</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>AAPL,GfxYTile</string>
				<key>Value</key>
				<data>
				AQAAAA==
				</data>
			</dict>
		</array>
		<key>FakeID</key>
		<dict>
			<key>#ATI</key>
			<string>0x67501002</string>
			<key>#IMEI</key>
			<string>0x1e208086</string>
			<key>#IntelGFX</key>
			<string>0x19160000</string>
			<key>#LAN</key>
			<string>0x100E8086</string>
			<key>#NVidia</key>
			<string>0x11de10de</string>
			<key>#SATA</key>
			<string>0x25628086</string>
			<key>#WIFI</key>
			<string>0x431214e4</string>
			<key>#XHCI</key>
			<string>0x0</string>
		</dict>
		<key>USB</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
		<key>UseIntelHDMI</key>
		<true/>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Hide</key>
		<array>
			<string>Windows</string>
			<string>\EFI\BOOT\BOOTX64.EFI</string>
		</array>
		<key>Language</key>
		<string>it:0</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<string>First</string>
			<key>Tool</key>
			<true/>
		</dict>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
		<key>Theme</key>
		<string>SGR</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>#ig-platform-id</key>
		<string>0x19160000</string>
		<key>EDID</key>
		<dict>
			<key>#Custom</key>
			<data>
			</data>
			<key>#ProductID</key>
			<string>0x717</string>
			<key>#VendorID</key>
			<string>0x117B</string>
			<key>Custom</key>
			<data>
			AP///////wAGEBKgAAAAABwWAQS1MBt4Im+xp1VMniUMUFQAAAAB
			AQEBAQEBAQEBAQEBAQEB2h1W4lAAIDBELUcAWMEQAAAYAAAA/ABp
			TWFjCiAgICAgICAgAAAA/gBDTU4KICAgICAgICAgAAAA/gBOMTU2
			QkdBLUVBMgogAHM=
			</data>
			<key>Inject</key>
			<true/>
			<key>ProductID </key>
			<string>0xa00e</string>
			<key>VendorID</key>
			<string>0x1006</string>
		</dict>
		<key>Inject</key>
		<dict>
			<key>Intel</key>
			<true/>
		</dict>
		<key>ig-platform-id</key>
		<string>0x19160000</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<false/>
		<key>AppleRTC</key>
		<true/>
		<key>KernelLapic</key>
		<false/>
		<key>KernelPm</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>AppleIntelSKLGraphicsFramebuffer DVMT panic</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				JDAkAACJRcg5xnZR
				</data>
				<key>Name</key>
				<string>AppleIntelSKLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				JDAkAACJRcg5xutR
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AppleIntelSKLGraphicsFramebuffer</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				AQMDAwAAIAIAAFAB
				</data>
				<key>Name</key>
				<string>AppleIntelSKLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AQMDAwAAMAEAAJAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.12.6-KBL-5912000-Port_0x5-DP2HDM</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				AQUJAAAEAACHAQAA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelKBLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AQUJAAAIAACHAQAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.12.6-KBL-5912000-Port_0x6-DP2HDM</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				AgQKAAAEAACHAQAA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelKBLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AgQKAAAIAACHAQAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.12.6-KBL-5912000-Port_0x7-DP2HDM</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				AwYKAAAEAACHAQAA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelKBLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AwYKAAAIAACHAQAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.13-BCM94352-fvco-darkvoid-Sherlocks</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				gflSqgAAdL8=
				</data>
				<key>Name</key>
				<string>com.apple.driver.AirPort.BrcmNIC-MFG</string>
				<key>Replace</key>
				<data>
				gflSqgAAZpA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.13-BCM94352-iovar-Sherlocks</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				hdtMi2XIeXE=
				</data>
				<key>Name</key>
				<string>com.apple.driver.AirPort.BrcmNIC-MFG</string>
				<key>Replace</key>
				<data>
				hdtMi2XI63E=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.13-BCM94352-iovar-Sherlocks</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				SIPEEInDhdt5Rg==
				</data>
				<key>Name</key>
				<string>com.apple.driver.AirPort.BrcmNIC-MFG</string>
				<key>Replace</key>
				<data>
				SIPEEInDhdvrRg==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.13-BCM94352-CC-Sebinouse-(edit 55 53 to CC)-PMheart</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				QYP8/3Q1SI1V0A==
				</data>
				<key>Name</key>
				<string>com.apple.driver.AirPort.BrcmNIC-MFG</string>
				<key>Replace</key>
				<data>
				ZscGVVPrNI1V0A==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.13-BCM94352-Airport-Extreme-Skvo-Sherlocks</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				axAAAHUN
				</data>
				<key>Name</key>
				<string>com.apple.driver.AirPort.BrcmNIC-MFG</string>
				<key>Replace</key>
				<data>
				axAAAJCQ
				</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>MLB</key>
		<string>C02LX138F5NTKG21H</string>
		<key>ROM</key>
		<data>
		qCBmXRaG
		</data>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>08/08/2017</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBA61.88Z.0103.B00.1708080653</string>
		<key>Board-ID</key>
		<string>Mac-35C1E88140C3E6CF</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02LX138F5NTKG21H</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>Air-Enclosure</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x0A</string>
		<key>Family</key>
		<string>MacBook Air</string>
		<key>FirmwareFeatures</key>
		<string>0xE00FE137</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<true/>
		<key>PlatformFeature</key>
		<string>0xFFFF</string>
		<key>ProductName</key>
		<string>MacBookAir6,1</string>
		<key>SerialNumber</key>
		<string>C02LX138F5NT</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Yes</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
